<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <form action="/reset-password" method="get">
        <input type="submit" value="Change Password" />
      </form>
    </div>
  </body>
</html>
